.r1{
    position: relative;
    background-color:gold;
    width:23%;height:10vh;
    margin-bottom: 0;
    padding: 0;   
}
.r12{
    background-color:rgb(255, 255, 255);
    width:40%;height:6vh;
    border:1px solid rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.r2{
    float:left;
    margin-right: 1%;
    background-color:rgb(45, 43, 145);
    width:5%;height: 52vh;
    padding: 0; 
}
.r3{
    margin-top:0px;
    float:left;
    margin-right: 1%;
    background-color:rgb(145, 43, 43);
    width:5%;height:52vh;
    padding: 0; 
}
.r4{
    margin-top:0px;
    float:left;
    margin-right: 1%;
    background-color:rgb(170, 170, 170);
    width:5%;height:52vh;
    padding: 0; 
}
.r5{
    margin-top:0px;
    float:left;
    background-color:rgb(145, 43, 43);
    width:5%;height:52vh;
    padding: 0; 

}
.r6{
    margin-top: 52vh;

    background-color:gold;
    width:23%;height:10vh;
    padding: 0; 

}
.tt{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 0;
    margin-left: 95%;
    
}